@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply dark:bg-d3 bg-slate-100;
  }
}

@layer components {
  .bg-prime {
    @apply bg-primary-light dark:bg-primary-dark;
  }
  .bg-sec {
    @apply bg-sec-light dark:bg-sec-dark;
  }
  .box {
    @apply p-3 rounded-xl bg-white dark:bg-bg-dark;
  }
  .box-ring {
    @apply ring-1 ring-slate-200 dark:ring-slate-800;
  }
  .text-h2 {
    @apply text-slate-600 dark:text-slate-300 font-medium px-2;
  }
  .btn {
    @apply rounded-xl flex items-center justify-center px-3 p-1.5 text-sm max-w-[200px];
  }
  .btn-prime {
    @apply bg-prime text-white btn;
  }
  .btn-sec {
    @apply btn bg-sec-light  text-primary-light  dark:bg-sec-dark dark:text-white;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .circle {
    @apply w-[clamp(35px,35px,35px)] aspect-square;
  }
  .input {
    @apply rounded-lg;
  }
  .input-div {
    @apply flex flex-col gap-1;
  }
  .input-text {
    @apply text-sm font-medium text-slate-500;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

input,
select {
  padding: 4px 7px;
  border-radius: 7px;
}

button {
  padding: 5px 10px;
  border-radius: 7px;
  display: flex;
  justify-items: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(151, 154, 168);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 137);
}
